client-secret.json
__pycache__/
.env
auth_service/__pycache__/
cal_env/
cal_env
venv/
venv
*.pyc
.DS_Store
.idea/
.vscode/
app.db
instance/
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local