backend/client-secret.json
backend/__pycache__/
backend/migrations/__pycache__/
backend/migrations/*.pyc
backend/instance/
backend/database.db
frontend/node_modules/
frontend/build/
.env
backend/.env
.vscode/
.DS_Store
backend/cal_env
backend/.pytest_cache/
backend/tests/__pycache__/
backend/tests/test_database.pyc
backend/app.db
backend/tests/test_auth.pyc
backend/cal_env
cal_env
__pycache__/
*.pyc
*.pyo
*.pyd
cal_env/
**/cal_env/
venv/
**/venv/
__pycache__/
*.pyc
